@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --main-bg-color: rgb(228, 87, 164);
  --secondary-color: rgb(113, 25, 255);
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--main-bg-color);
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__nav {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
}

.main-header__item {
  font-weight: 500;
  margin: 0 1rem;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: var(--secondary-color);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 80%;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(100%);
  transition: transform 0.4s ease-out;
}

.mobile-nav.open {
  transform: translateX(0%);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--main-bg-color);
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  font-size: 1.2rem;
  position: absolute;
  top: 4px;
  right: 1rem;
  width: 100px;
  height: 48px;
  border: 3px solid white;
  padding: 8px;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.product-item {
  margin: 3rem;
}
.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
  min-width: 270px;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500 !important;
  height: 40px;
  width: 130px;
  font-size: 1rem;
}
.detail-link {
  /* transform: translateY(0px); */
  vertical-align: middle;
}
.btn:hover,
.btn:active {
  background-color: var(--main-bg-color);
  color: white;
}

@media (min-width: 1100px) {
  .main-header__nav {
    display: flex;
  }
  .grid {
    justify-content: flex-start;
    padding: 0 100px 0 180px;
  }
  #side-menu-toggle {
    display: none;
  }
}
